h1{
    text-align: center;
}



.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  }
  


  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
  
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
  
    margin: 0 auto;
    display: block;
  
    cursor: pointer;
  }
  
  .card__details {
    padding: 16px 8px 8px 8px;
  }

  .card {
    background-color: white;
    margin-top: 3%;

    width: 90%;
  
    border: 1px solid #bacdd8;
  
    padding: 8px;
  
    border-radius: 12px;
    display: block;
  }

  img {
    
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: scale-down;
  }
  table{
    width: 80%;
  }

  #panini{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin: 2%;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }




  




  .sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f8f8f8;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-y: auto;
}
.sidebar h2 {
    margin-top: 0;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.cart-item-info {
    flex: 1;
}
.cart-item-name {
    font-size: 16px;
    margin: 0;
}
.cart-item-description {
    font-size: 14px;
    color: #777;
}
.cart-item-price {
    font-size: 16px;
    font-weight: bold;
}
.cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
.checkout-button:hover {
    background-color: #218838;
}